body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(2, 0, 36) 2%, rgb(9, 9, 121) 28%, rgb(0, 212, 255) 70%);
    font-family: sans-serif;
}

input {
    border-style: none;
    outline: none;
}

#content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5f5f5f;
    border: 2px solid #13779e;
    border-radius: 5px;
}

#textview {
    margin: 7px;
    padding: 7px;
    width: 211px;
    color: #198cb9;
    font-size: 25px;
    border: none;
    border-radius: 5px;
}

#grid {
    margin: 10px 0;
    width: 96%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: minmax(52px, auto);
    grid-auto-rows: minmax(52px, auto);
    grid-template-areas:
        "c moins div fois"
        "sept huit neuf moin"
        "quatre cinq six plus"
        "one two trois equal"
        "zo zo pt equal";
    grid-gap: 7px;
}

.button {
    font-size: 27px;
    cursor: pointer;
    background-color: #2ecbeb;
    border: 1px solid #add8e6;
    border-style: none;
    transition: 0.2s all linear;
    border-radius: 10px;
    outline: none;
}

.button:hover {
    background: #073777;
    color: #fff;
    border: none;
}

#c {
    grid-area: c;
}

#moins {
    grid-area: moins;
}

#diviser {
    grid-area: div;
}

#fois {
    grid-area: fois;
}

#sept {
    grid-area: sept;
}

#huit {
    grid-area: huit;
}

#neuf {
    grid-area: neuf;
}

#moin {
    grid-area: moin;
}

#quatre {
    grid-area: quatre;
}

#cinq {
    grid-area: cinq;
}

#six {
    grid-area: six;
}

#plus {
    grid-area: plus;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#trois {
    grid-area: trois;
}

#equal {
    grid-area: equal;
}

#zero {
    grid-area: zo;
}

#point {
    grid-area: pt;
}